@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
         url("../fonts/Montserrat-Bold.woff") format("woff"),
         url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype"),
         url("../fonts/Roboto-Light.woff") format("woff"),
         url("../fonts/Roboto-Light.woff2") format("woff2");
}