@font-face {
    font-family: "DroidSerif-italic";
    src: url("../fonts/droidserif-italic-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "RobotoSlab-regular";
    src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "WisdomScript-regular";
    src: url("../fonts/wisdomscript-regular-webfont.woff2") format("woff2");
}