$logo: #fed136;
$nav-links: #222222;
$nav-active-link: #fed136;
$sub-title: #777777;
$title: #222222;
$cicle: #fed136;
$service-name: #222222;
$servise-describe: #777777;
$bgc-contact-us: #222222;
$placeholder: #bbbbbb;
$btn-bgc: #fed136;
$valid: green;
$invalid: red;