$logo-color: #ffffff;
$link-color: #ffffff;
$header-color: #ffffff;
$active-link: #fce38a;
$hover-link: #fce38a;

$p-color: #999999;
$figcaption: #999999;
$main-header-color: #95e1d3;
$active-header-link: #f38181;
$underline: #f38181;
$h-color: #333333;
$button: #95e1d3;
$author: #f38181;
$img-before: #95e1d3;
$footer: #333333;
$border-foot: #e7e7e7;
$bg-img-team: #95e1d3;